body{
    font-family: 'Special Elite', cursive;
    background-color: greenyellow;
}
.header_div{
    background-color: honeydew;
    color: blue;
}
.header_div p{
    font-family: 'Roboto' , sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    background-color: darkcyan;
    color: darkgreen;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151 , 149, 149);
}